#header .logo {
  font-family: "Noto Serif Display", serif;
  font-weight: 400;
}

#mobile-navbar .logo {
  font-size: 1.4rem;
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

main .post  {
  font-family: "Noto Serif SC", serif;
  font-weight: 400;
  @media screen and (max-width: 800px) {
    font-weight: 500;
  }

  .post-content h1 {
    font-size: 24px;
  }

  h1, h2, h3, h4, h5, h6, h1.post__title {
    font-family: "Noto Sans SC", sans-serif;
    font-weight: 320;
    @media screen and (max-width: 800px) {
      font-weight: 350;
    }
  }

  .hashtag {
    color: gray;
    font-size: 70%;
    background: none;
  }

  pre code {
      color: unset;
  }
}



