{% extends "hyde/templates/index.html" %}

{% block content %}
<h1 class="post-title"> {{ tag.name }} </h1>
<div class="posts">
    {% for page in tag.pages %}
    <div class="post">
        <a class='header-link' href="{{ page.permalink }}">
            <h2 class="post-title"> {{ page.title }} </h2>
        </a>
        <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
        <p>
        {{ page.content | safe | striptags | truncate }}
        </p>
    </div>
    {% endfor %}
</div>
{% endblock content %}
